body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(93, 124, 47);
}

canvas{
    border: 1px solid;
    width: 70%;
}

#container{
    display:flex;
    align-items: center;
    justify-content: center;
}

#dice h1{
    font-family: sans-serif;
    color:white;
    font-weight: 100;
    text-align: center;
}

button{
    padding:20px;
    border-radius: 2px;
    border-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
    width:100px;
    text-align: center;
}

button:active{
    background-color: rgb(185, 185, 185);
}

@media screen and (max-width:764px) 
{
   #container{
       flex-direction: column;
   }

   #canvas{
       width:100%;
       max-height: 70vh;
   }

   button{
       padding:10px;
   }
}